################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.history
/.vs
/obj/Debug
/util/.vs
/.lh
/obj
/utils.sln
/utils.sqlproj

.vscode/settings.json
