################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.history
/.vs
/obj/Debug
/util/.vs
/.lh
/obj
/utils.sln
/utils.sqlproj

.vscode/settings.json
/PureSqlsMcp/obj/Debug/net8.0
/PureSqlsMcp/obj
/PureSqlsMcp/bin/Release/net8.0
/deployUtil_error.sql
*.user
